.button {
    padding: 0.5rem 1rem;
    background-color: rgb(14, 202, 219);
    color: whitesmoke;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:active {
        background-color: rgba(14, 158, 219, 0.8);
        transform: scale(0.9);
    }
}
a{
    color: rgb(14, 202, 219);
    text-decoration: none;
}