main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h2{
    color: red;
    font-size: 2rem;
}
.form-container{
    width: 400px;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input{
        padding:1rem;
        border-radius: 1rem;
        border:none;
        outline: none;
        padding-left:1rem;
    }
}
p{
    color: white;
}
a{
    color: red;
    text-decoration: none;
}